catboost==0.8.1.1
certifi==2018.4.16
Django==2.0.5
djangorestframework==3.8.2
numpy==1.14.3
pandas==0.23.0
python-dateutil==2.7.3
pytz==2018.4
scikit-learn==0.19.1
six==1.11.0
sklearn
pyproj==1.9.5.1
gmplot==1.2.0
