{% extends 'ml/base.html' %}

{% block upload %}
  <form class="ui form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button id="submitbtn" type="submit" class="ui button">Upload</button>
  </form>

{% endblock %}


{% block table %}
<table class="ui celled table">
<thead>
    <tr><th>Color</th>
    <th>Transport</th></tr>
</thead>
<tbody>
    <tr>
        <td style="background-color: royalblue">Royalblue</td>
        <td>Bike</td>
    </tr>
    <tr>
        <td style="background-color: green">Green</td>
        <td>Train</td>
    </tr>
    <tr>
        <td style="background-color: coral">Coral</td>
        <td>Vehicle</td>
    </tr>
    <tr>
        <td style="background-color: blueviolet">Blueviolet</td>
        <td>Walk</td>
    </tr>
</tbody>

</table>
{% endblock %}